{% extends "base.html" %}
{% block content %}
  <div class="container mt-4 text-center">
    <div class="row mt-2">
      <div class="col-6">
        <div class="card mx-auto" style="width:100%;">
          <img class="card-img-top" src="/static/dashboard.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text fs-5">State-Level Dashboard</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mx-auto" style="width:100%;">
          <img class="card-img-top" src="/static/dashboard.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text fs-5">District-Level Dashboard</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div class="card mx-auto" style="width:100%;">
          <img class="card-img-top" src="/static/dashboard.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text fs-5">Block-Level Dashboard</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mx-auto" style="width:100%;">
          <img class="card-img-top" src="/static/dashboard.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text fs-5">School-Level Dashboard</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}